#navv {
  display: none;
}

.mobheader a:visited {
  text-decoration: none;
  color: black;
}

.mobheader a:hover {
  text-decoration: none;
  color: black;
}

.mobheader a:focus {
  text-decoration: none;
  color: black;
}


.ola {
  color: black;
  background-color: #fff;
}